.pad {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

button {
    float: left
}

.button {
    float: left;
    width: 60px;
    height: 40px;
    background-color: #00e3f3;
    padding-top: 20px;
    padding-bottom: 0%;
    color: #000000
}

.button:hover {
    background-color: #65f5ff;
}